@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

strong {
  font-weight: 500;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: 'Patua One', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.choice-box {
  min-width: 190px;
  min-height: 90px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  margin: 16px;
  justify-content: center;
  font-size: 18;
}

.MuiDivider-root {
  border-color:  rgba(0, 0, 0, 0.2);
}

.MuiListItemAvatar-root {
  min-width: 30px;
}

.MuiListItemIcon-root {
  min-width: 0;
}

#main-cont {
  min-height: calc(100vh - 200px);
}

.org-logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  background-color: white;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}

.org-logo img {
  width:90%;
  margin: 0 auto;
}

.filter-card .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}

.MuiInputLabel-root {
  background: white;
  padding-left:4px;
  padding-right: 16px;
}

.filter-circle {
  font-size: 14px !important;
}

.org-jumbo {
  background-repeat: 'no-repeat';
  background-position: 'right top';
  background-size: 'fill' !important;
  padding: '8em 2em 4em 2em';
  height: 300px;
}

footer {
  margin-top: 64px;
  padding-top: 32px;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px;
}

.MuiButtonBase-root .MuiBadge-badge {
  border: 1px solid #1976d2;
  background-color: white;
  color: black;
  right: -21px;
  top: -6px
}